{% extends "quotes_app/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotes_app:add-quote' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label> Quote:
            {{ form.quote }}
        </label>
        <span>{{ form.errors.quote }}</span>
    </div>
    <div style="padding: 10px">
        <label> Select author:
            <select name="authors" required>
                <option disabled selected value> -- select an option -- </option>
                {% for author in authors %}
                <option value="{{author.full_name}}">{{author.full_name}}</option>
                {% endfor %}
            </select>
        </label>
        <span>{{ form.errors.author }}</span>
    </div>
    <div style="padding: 10px">
        <label> Select tags:
            <select name="tags" multiple="multiple">
                {% for tag in tags %}
                <option value="{{tag.title}}">{{tag.title}}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}